.confirmationderendezvous-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.confirmationderendezvous-confirmationderendezvous {
  gap: 10px;
  width: 100%;
  height: 1024px;
  display: flex;
  position: relative;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.confirmationderendezvous-image1 {
  top: 122px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
}
.confirmationderendezvous-frame1 {
  top: 122px;
  left: 61px;
  width: 1318px;
  height: 756px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.confirmationderendezvous-text {
  top: 61px;
  left: 264px;
  color: rgba(0, 0, 0, 1);
  width: 783px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: Courgette;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.confirmationderendezvous-group3 {
  top: 878px;
  left: 0px;
  width: 100%;
  height: 146px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(196, 157, 111, 1);
}
.confirmationderendezvous-text05 {
  top: 61px;
  left: 1359px;
  color: rgba(0, 0, 0, 1);
  width: 50px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Courgette;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.confirmationderendezvous-text07 {
  top: 61px;
  left: 1007px;
  color: rgba(0, 0, 0, 1);
  width: 252px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Courgette;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.confirmationderendezvous-text09 {
  top: 61px;
  left: 1284px;
  color: rgba(0, 0, 0, 1);
  width: 50px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Courgette;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.confirmationderendezvous-text11 {
  top: 48px;
  left: 61px;
  color: rgba(0, 0, 0, 1);
  width: 694px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Regular;
  text-align: center;
  font-family: Courgette;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.confirmationderendezvous-group7 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 122px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(196, 157, 111, 1);
}
.confirmationderendezvous-text13 {
  top: 50px;
  left: 1011px;
  color: rgba(0, 0, 0, 1);
  width: 160px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Courgette;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.confirmationderendezvous-text15 {
  top: 49px;
  left: 898px;
  color: rgba(0, 0, 0, 1);
  width: 95px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Courgette;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.confirmationderendezvous-text17 {
  top: 50px;
  left: 633px;
  color: rgba(0, 0, 0, 1);
  width: 110px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Courgette;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.confirmationderendezvous-text19 {
  top: 50px;
  left: 515px;
  color: rgba(0, 0, 0, 1);
  width: 100px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Courgette;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.confirmationderendezvous-text21 {
  top: 50px;
  left: 427px;
  color: rgba(0, 0, 0, 1);
  width: 80px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Courgette;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.confirmationderendezvous-vector {
  top: 33px;
  left: 1342px;
  width: 67px;
  height: 67px;
  position: absolute;
}
.confirmationderendezvous-text23 {
  top: 50px;
  left: 1189px;
  color: rgba(0, 0, 0, 1);
  width: 120px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Courgette;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.confirmationderendezvous-text25 {
  top: 50px;
  left: 761px;
  color: rgba(0, 0, 0, 1);
  width: 119px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Courgette;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.confirmationderendezvous-text27 {
  top: 9px;
  left: 59px;
  color: rgba(0, 0, 0, 1);
  width: 114px;
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Courgette;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
